.modal-form {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(3px);
}

.modal-form-container {
    max-width: 750px;
    width: 90%;
    margin-inline: auto;
    margin-top: 5rem;
    border-radius: 15px;
    padding: 2rem;
}